img {
  width: auto;
  max-height: 80vh;
  height: auto;
}

img,
video,
iframe {
  max-width: 100%;
}

img,
video {
  @media (inverted-colors: inverted) {
    // Make sure images, videos, and iframes show up correctly
    filter: invert(1);
  }
}

