img {
  max-width: 100%;
  width: auto;
  max-height: 80vh;
  height: auto;

  @media (inverted-colors: inverted) {
    // Make sure images and videos show up correctly
    img,
    video {
      filter: invert();
    }
  }
}
