{
	"plugins": [
		"stylelint-no-unsupported-browser-features"
	],
	"extends": [
		"stylelint-a11y/recommended",
		"stylelint-config-wordpress/scss"
	],
	"rules": {
		"plugin/no-unsupported-browser-features": [true, {
			"severity": "warning"
		}],
		"indentation": 2,
	  	"at-rule-empty-line-before": ["always", {
		  "ignoreAtRules": ["use", "forward", "import", "mixin", "include", "function", "extend", "return", "at-root",
			"error", "warn", "debug", "if", "else", "each", "for", "while"],
		  "except": ["first-nested"]
		}]
	}
}
