.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;

  @media (max-width: $layout__mobile-header-vw) {
    display: none;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {

        &:hover > ul,
        &.focus > ul,
        &:focus > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a,
      :focus > a,
      .focus > a {
      }

      a:hover,
      a.focus,
      a:focus,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul,
    li:focus > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    float: left;
    position: relative;

    &:hover > a,
    &.focus > a,
    &:focus > a,
    &.focus > a {
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Mobile Menu */

@media (min-width: $layout__mobile-header-vw + 1px) {
  .mobile-slide-menu {
    display: none;
  }
}

@media (max-width: $layout__mobile-header-vw) {
  .mobile-slide-menu {
    $menu-width: 300px;
    $menu-max-width: 80vw;

    position: fixed;
    top: 0;
    left: #{-$menu-width};
    width: $menu-width;
    max-width: $menu-max-width;
    height: 100%;
    z-index: 100;
    transition: left 0.5s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    .mobile-slide-menu--active & {
      left: 0;
    }
  }

  body.mobile-slide-menu--active {
    overflow-y: hidden;

    .site {
      cursor: default;

      &::before {
        position: fixed;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
      }
    }
  }

  .site::before {
    content: "";
    transition: background-color 0.5s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
