.mobile-header {
  position: fixed;
  top: 0;
  display: none;
  width: 100%;
  color: $color__text-mobile-header;
  background-color: $color__background-mobile-header;

  @media (max-width: $layout__mobile-header-vw) {
    display: block;
  }

  &__site-title {
    display: inline-block;
    margin: 0;
  }

  &__button {
    font-size: 20px;
    border: 0;
    padding: 14px;
    margin-right: 8px;
    background-color: transparent;
  }
}
