.main-navigation {
  clear: both;
  display: block;
  width: 100%;

  @media (max-width: $layout__mobile-header-vw) {
    display: none;
  }

  /* All Menus */
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      position: relative;   // For sub-menu positioning

      &:hover > ul,
      &:focus > ul {
        display: block;
      }
    }

    a {
      display: block;
      text-decoration: none;
    }
  }

  /* Top-level Menu */
  ul:first-child {

    li {

    }

    a {

    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
  }

  /* Sub-menus */
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: fit-content;
    z-index: $z-index__nav-sub-menu;

    ul {
      display: none;
      left: 100%;
      top: 0;
    }

    li {

      &:hover > ul,
      &:focus > ul {
        left: 100%;
      }
    }

    a {

      &:hover,
      &:focus {

      }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
  }
}

/* Mobile Menu */

@media (min-width: $layout__mobile-header-vw + 1px) {
  .mobile-slide-menu {
    display: none;
  }
}

@media (max-width: $layout__mobile-header-vw) {
  .mobile-slide-menu {
    $menu-width: 300px;
    $menu-max-width: 80vw;

    position: fixed;
    top: 0;
    left: #{-$menu-width};
    width: $menu-width;
    max-width: $menu-max-width;
    height: 100%;
    color: $color__text-mobile-menu;
    background-color: $color__background-mobile-menu;
    z-index: 100;
    transition: left 0.5s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }

    .mobile-slide-menu--active & {
      left: 0;
    }
  }

  body.mobile-slide-menu--active {
    overflow-y: hidden;

    .site {
      cursor: default;

      &::before {
        position: fixed;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 50;
      }
    }
  }

  .site::before {
    content: "";
    transition: background-color 0.5s;

    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
